@charset "UTF-8";
/* CSS Document */

body {
    background-color: #EFEFEF;
	font-family: 'Oxygen Mono', monospace;
	margin-left: 5%;
}

h1 {
	color: #FF3B3F;
	font-family: 'Oxygen Mono', monospace;
	}
h2 {
	color: #393838;
	font-family: 'Oxygen Mono', monospace;
	}
h3 {
	color: #393838;
	font-family: 'Oxygen Mono', monospace;
	}
h4 {
	color: #393838;
	font-family: 'Oxygen Mono', monospace;
	}
h5 {
	color: #393838;
	font-family: 'Oxygen Mono', monospace;
	font-weight:100;
	font-style:normal;
	}


#nav{
	float: right;
	padding: 0;
	margin: 10px 0;
	}
#nav li{
	list-style-type: none;
	display: inline-block;
	padding-left: 5px;
	text-align: right;
	}

li a {
	/*text-decoration: none;
	display: block;*/
	font-size: .8em;
	color: #A9A9A9;
	padding: 7px 10px;
	}
li > a:hover {
	background: #CAEBF2;
	border-radius: .2em;
}


#indexlist {
	list-style-type: none;
	font-size: 1.2em;
	color: #A9A9A9;
	padding: 7px 10px;
	
	}


p {
	
    width: 300px;
	color: #282727;
	}
	

.active {
	background: #ff3b3f;
	color: #FFFFFF;
	border-radius: .2em;
	}
	


nav ul form {
	float: left;
	}	
	
nav ul form input {
	float: left;
	border: none;
	height: 30px;
	margin-right: 6px;
	color: #A9A9A9;
	}
	
	nav ul form input[type=text] {
		font-size: 14px;
		padding-left: 5px;
		color:#A9A9A9;
	}
	
	nav ul form input[type=Password] {
		font-size: 14px;
		padding-left: 5px;
	
	}
	
	nav ul form button {
	float: left;
	border: none;
	margin-right: 20px;
	background:#CAEBF2;
	font-size: 14px;
	width: 70px;
	cursor: pointer;
	border-radius: .2em;
	font-family: Oxygen;
	}
	
	nav ul form button:hover { 
 	background-color: #A9A9A9;
	color: #FFFFFF;
	font-family: Oxygen;
}
	
	
/*HERE IS SIGNUP FORM*/

/*HERE IS CURRENT CLIENT BOX*/

#current {
	width: 40%;
	display:inline-block;
	margin-left: 10%;

	
	}	
	
#current p {
	font-size:12px;
	font-style:italic;
	}

/*big BOX */	
	.bigbox {display:inline-block;
		width: 90%;
		margin-left: 2%;
	}
	.bigbox h1 {
	text-align: center;
	}

.bigbox img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	}
	
.bigbox p {
	font-size:12px;
	
	}
	
	
/*right BOX */	
.rightbox {
	width: 40%;
	position: relative;
	display:inline-block;
	 float: right;
 	 max-width: 300px;
	 margin-right: 15%;
	 border-radius: .4em;
	}
	
.rightbox li {
	list-style-type: none;
	margin-top: 5%;
	}
	
	
/*left BOX */	
.leftbox {
	width: 40%;
	position:relative;
	display:inline-block;
	 float: left;
 	 max-width: 300px;
	 margin-left: 15%;
	 border-radius: .4em;
	}
	
.lefttbox li {
	list-style-type: none;
	margin-top: 5%;
	}
	
.lefttbox p {
	font-size:12px;
	font-style:italic;
	}
	
/*BIG BOX AROUND INDEX*/	
#clientbox {
	display:inline-block;
		width: 90%;
		margin-left: 2%;
	}	
	
	
	
#clientbox h1 {
	text-align: center;
	}

#clientbox img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	}
		
	
#signupform {
	border: 20px;
	color: black;
	}
	
#formdesign {
  float: right;
  margin-right: 5px;
  max-width: 300px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  
	
	 
	}

	
#formdesign input {
  outline: 0;
  background: #efefef;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
	}
	
	#formdesign input[type=text] {
		font-size: 14px;
		padding-left: 5px;
		color:#A9A9A9;
	}
	
	#formdesign input[type=password] {
		font-size: 14px;
		padding-left: 5px;
		color:#A9A9A9;
	}
	
	#formdesign button {
  background: #CAEBF2;
  width: 100%;
  padding: 15px;
  color: #A9A9A9;
  font-size: 14px;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: white 1px solid;
	}
	
	#formdesign button:hover { 
 	background-color: #A9A9A9;
	color: #FFFFFF;
}

.button {
	background: #CAEBF2;
  width: 50%;
  padding: 15px;
  color: #A9A9A9;
  font-size: 14px;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: #efefef 1px solid;
	}
	
.button:hover { 
 	background-color: #A9A9A9;
	color: #FFFFFF;}

.button:a { 
	color: #FFFFFF;}
	
	#formbox {
	 position: relative;
	 float: right;
	 background: #FFFFFF;
 	 max-width: 300px;
	 height: 460px;
	 margin-right: 10%;
	 border-radius: .4em;;
	
	}
	
	#formbox h2{
	margin-top: auto;	
	 height: 4%;
  	font-size: 20px;
  	font-weight: 300;
	 color: #FF3B3F;
	font-family: 'Oxygen', monospace;
	 text-align: center;
		}
		
	#formbox h3{
		margin-top: 2%;
 	 padding: 0;
	 height: 7%;
  	font-size: 15px;
  	font-weight: 300;
	 color: #FF3B3F;
	font-family: 'Oxygen', monospace;
	 text-align: center;
		}	
		
		
		#logo1 {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top:3%;
	
	}
	
	
	#imagephp{
	display: block;
    margin-left: auto;
    margin-right: auto
	}

	
	.active {
	background: #ff3b3f;
	color: #FFFFFF;
	border-radius: .2em;
	}
	
	#welcomebox
{
	display: block;
	margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
	width: 27%;
	text-align:center;
	}

#welcomebox h3{
 	 padding: 0;
	 height: 7%;
  	font-size: 15px;
  	font-weight: 300;
	 color: #FF3B3F;
	font-family: 'Oxygen', monospace;
	 text-align: center;
		}	
#loginpage {
	margin-top: 7%;
	font-family: 'Oxygen', monospace;
	 text-align: center;
	  color: #FF3B3F;
	
	}
	
a{
	color: #FF3B3F;
	}
	
a:hover{
	color: #A9A9A9;
	}